.cursor-pointer {
  cursor: pointer;
}

.component-space {
  margin-bottom: 1rem;
}

.alert {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  min-width: 300px;
  max-width: 90%;
  text-align: center;
}

.excel-gradient-btn {
  background: linear-gradient(90deg, #019432 0%, #2afc3b 100%);
  border: none;
  color: #fff !important;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(67, 233, 123, 0.15);
  transition: background 0.3s;
}
