.excel-gradient-btn {
  background: linear-gradient(90deg, #019432 0%, #2afc3b 100%);
  border: none;
  color: #fff !important;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(67, 233, 123, 0.15);
  transition: background 0.3s;
}

.user-image-container {
  margin-top: 12px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image,
.preview-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 0;
}
